<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>My Site</title>
    <link rel="stylesheet" href="/public/css/main.css">
    
</head>
<body>
    <div class="container">
        <div class="navbar">
        <nav class="navbar">
        <div class="">
            <ul class="nav navbar-nav">
            <li><a class="active" href="/">Home</a></li>
            <li><a href="/events">events</a></li>
            <li><a href="/locations">locations</a></li>
            <li><a href="/people">people</a></li>
            </ul>
        </div>
        </nav>
        </div>
        <div class="jumbotron">
            <h1>welcome to my page</h1>
            <hr>
            <p>This is for the CS546 lab6!</p>
        </div>
        <main>
        <div class="body">
        {{{body}}}
        </div>
        </main>
        <footer class="footer">2016 CS546</footer>
    </div>
    <script src="/public/css/myscript.js"></script>
</body>
</html>

