<div class="row">
<div class="col-sm-12">
<form id="clientForm" class="client-form" method="post">
    <div class="form-group">
      <label for="inputText">Textarea</label>
      <input type="text" id="inputText" name="inputText" placeholder="textarea" value="" required>
    </div>
    <div class="form-group">
      <label for="insertString">InsertString</label>
      <input type="text" id="insertString" name="insertString" placeholder="insertString" value="" required>
    </div>
    <div class="form-group">
      <label for="times">How many times?</label>
      <input type="number" id="times" name="times" placeholder="times" value="" required>
    </div>
    <div class="form-group">
      <label for="spacing">Spacing</label>
      <input type="number" id="spacing" name="spacing" placeholder="spacing" value="" required>
    </div>
    <div class="form-group hidden" id="error-container">
        <div class="alert alert-danger text-goes-here">
        </div>
      </div>
    <div class="form-group">
        <button type="submit" class="btn btn-default">Submit</button>
    </div>
    <div class="form-group hidden" id="result-container">
        <h2> The result is: </h2>
        <div class="alert alert-success text-goes-here">
        </div>
    </div>
    <!-- </form> -->
</form>
</div>
</div>
<!-- need to use bootstrap here -->
